<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{ titulo }}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <main>

        <h1>{{ titulo }}</h1>


        {% if media_type == "image" %}

            <img
                src="{{ media_url }}"
                class="imagem"
                alt="{{ titulo }}"
            >

        {% elif media_type == "video" %}

    {% if ".mp4" in media_url.lower() %}

        <div class="video-container">

            <video controls playsinline class="video">
                <source
                    src="{{ media_url }}"
                    type="video/mp4"
                >

                Seu navegador não suporta a reprodução deste vídeo.

            </video>

        </div>

    {% else %}

        <div class="video-container">

            <iframe
                src="{{ media_url }}"
                title="{{ titulo }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </div>

    {% endif %}

{% endif %}


        <p>{{ descricao }}</p>

    </main>

</body>

</html>